/*Bootstrap cover template*/
a,
a:focus,
a:hover {
  color: #fff;
}
html,
body {
  height: 100%;
  background-color: #63583f;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Corbett Rides Custom CSS */
@media (min-width: 992px) {
  .cr-main-block {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cr-logo {
  margin-left: auto;
  margin-right: auto;
  }
}
body { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cr-logo {
  margin-top: -50px;
  margin-bottom: 500px;
}
.cr-main-block {
  background-color: #63583f;
}
.cr-coming {
  color: #feff96;
  font-family: 'Roboto Slab';
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.cr-footer {
  margin-top: 20px;
  margin-bottom: 40px;
}
p {
  font-size: 17px;
}

/*Bootstrap override*/
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: #53402f;
    font-weight: 700;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffd57a;
    font-weight: 700;
}